name: Tests

on: [push]

env:
  DOGFOODING_REF: ${{ secrets.DOGFOODING_REF }}

jobs:
  run_tests:
    name: Java${{ matrix.java }} ${{ matrix.profile }} test
    runs-on: ubuntu-latest
    timeout-minutes: 25

    strategy:
      matrix:
        java: [ 8, 11 ]
        profile: ['integration', '!integration', 'smoketest']

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Cache maven repository
        uses: actions/cache@v1
        env:
          cache-name: cache-m2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Cache npm dependencies
        uses: actions/cache@v1
        env:
          cache-name: cache-npm
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Test with maven
        if: matrix.profile != 'smoketest'
        run: mvn -B clean verify -P ${{ matrix.profile}}

      - name: Smoke-test with production image
        timeout-minutes: 10
        if: matrix.profile == 'smoketest'
        env:
          JIRA_E2E_LICENSE: ${{ secrets.JIRA_E2E_LICENSE }}
          CYPRESS_AWS_ACCESS_KEY_ID: ${{ secrets.CYPRESS_AWS_ACCESS_KEY_ID }}
          CYPRESS_AWS_SECRET_ACCESS_KEY: ${{ secrets.CYPRESS_AWS_SECRET_ACCESS_KEY }}
          
        run: |
          mvn package -DskipTests
          cd jira-e2e-tests
          ./postgres/inject-license
          JIRA_VERSION=latest docker-compose up --force-recreate --build -d

      - name: Rest api tests with production image built by previous step
        timeout-minutes: 15
        if: matrix.profile == 'smoketest'
        run: |
          cd jira-e2e-tests
          until docker-compose ps --services --filter "status=stopped" | grep cypress ; do sleep 5; done; mvn -f ../pom.xml verify -pl func-tests -Prest; docker-compose down

      - name: Smoke-test with production image - Jira 7.13
        timeout-minutes: 10
        if: matrix.profile == 'smoketest'
        env:
          JIRA_E2E_LICENSE: ${{ secrets.JIRA_E2E_LICENSE }}
          CYPRESS_AWS_ACCESS_KEY_ID: ${{ secrets.CYPRESS_AWS_ACCESS_KEY_ID }}
          CYPRESS_AWS_SECRET_ACCESS_KEY: ${{ secrets.CYPRESS_AWS_SECRET_ACCESS_KEY }}

        run: |
          mvn package -DskipTests
          cd jira-e2e-tests
          ./postgres/inject-license
          JIRA_VERSION=7.13.0 docker-compose up --force-recreate --build -d

      - name: Rest api tests with production image built by previous step - Jira 7.13
        timeout-minutes: 15
        if: matrix.profile == 'smoketest'
        run: |
          cd jira-e2e-tests
          until docker-compose ps --services --filter "status=stopped" | grep cypress ; do sleep 5; done; mvn -f ../pom.xml verify -pl func-tests -Prest; docker-compose down

      - name: Upload
        if: github.ref == env.DOGFOODING_REF && matrix.profile == '!integration' && matrix.java == 11
        uses: actions/upload-artifact@v1
        with:
          name: plugin-jar
          path: jira-plugin/target/jira-plugin-1.0.0.jar

      - name: Archive code coverage results
        if: matrix.profile == '!integration' && matrix.java == 8
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: ./**/target/site/jacoco-unit-test-coverage-report/

  deploy:
    name: Deploy to dogfooding instance
    runs-on: ubuntu-latest
    needs: run_tests

    steps:
      - name: Download plugin jar file from the previous job
        if: github.ref == env.DOGFOODING_REF
        uses: actions/download-artifact@v1
        with:
          name: plugin-jar
      - name: Deploy to dogfooding
        if: github.ref == env.DOGFOODING_REF
        env:
          DOGFOODING_URL: ${{ secrets.DOGFOODING_URL }}
          DOGFOODING_USER: ${{ secrets.DOGFOODING_USER }}
          DOGFOODING_PASSWORD: ${{ secrets.DOGFOODING_PASSWORD }}
        run: |
          url="$DOGFOODING_URL/rest/plugins/1.0/"
          token=$(curl -u "$DOGFOODING_USER:$DOGFOODING_PASSWORD" -Is ${url}?os_authType=basic | grep upm-token | cut -d: -f2- | tr -d '[[:space:]]')
          if [[ -z "$token" ]]; then
            echo "Token is not set"
            exit 1
          else
            curl -vvv -u "$DOGFOODING_USER:$DOGFOODING_PASSWORD" -POST "${url}?token=${token}" -F plugin=@plugin-jar/jira-plugin-1.0.0.jar | tee install.log
            grep -E '"type":"INSTALL".*"statusCode":200' install.log
            exit $?
          fi
      - name: Checkout code
        if: github.ref == env.DOGFOODING_REF
        uses: actions/checkout@v2
      - name: Cache maven repository
        if: github.ref == env.DOGFOODING_REF
        uses: actions/cache@v1
        env:
          cache-name: cache-m2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Setup Java ${{ matrix.java }}
        if: github.ref == env.DOGFOODING_REF
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Test dogfooding REST endoints
        if: github.ref == env.DOGFOODING_REF
        env:
          JIRA_BASE_URL: ${{ secrets.DOGFOODING_URL }}
          JIRA_USERNAME: ${{ secrets.DOGFOODING_USER }}
          JIRA_PASSWORD: ${{ secrets.DOGFOODING_PASSWORD }}
        run: mvn verify -pl func-tests -Prest -DJIRA_BASE_URL=$JIRA_BASE_URL -DJIRA_USERNAME=$JIRA_USERNAME -DJIRA_PASSWORD=$JIRA_PASSWORD
